<table class="calendar">
  <thead>
    <tr>
      <% t('date.day_names').each do |day| %>
        <th><%= day.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <% week.each do |day| %>
          <td><%= l day, format: '%d %b' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for Bet.new do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :when %>
    <%= f.date_field :when, min: @initial_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
